  
  /* root variables for specific component */

  :root {
    /* note: color format rgba() gets added later when color variable is being used */
   --clr-dark: 18, 18, 18;
   --clr-main: 140, 134, 134;
   --clr-icon: 95, 95, 95;
 }

 @font-face {
  font-family: main-light;
  src: url(../asset/font/Sansation_Light.ttf)
}

@font-face {
  font-family: mainfont;
  src: url(../asset/font/Sansation_Regular.ttf);
}

@font-face {
  font-family: main-bold;
  src: url(../asset/font/Sansation_Bold.ttf);
}

@font-face {
  font-family: logo;
  src: url(../asset/font/SairaStencilOne-Regular.ttf);
}

* {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%
}

/* Font Settings */

h1 {
  margin-top: calc(0.4rem * 1.618 * 1.618 * 1.618);
  margin-left: -3px;
  line-height: 0.9;
  font-family: main-bold;
  font-size: 32px;
  color: rgba(var(--clr-main), 1);
}

h2 {
  /*margin-bottom: calc(0.4rem * 1.618);*/
  margin-left: -1px;
  line-height: 1;
  font-family: main-light;
  font-size: 16px;
  color: rgba(var(--clr-main), 1);
  /* delete below code after testing*/
}

h3 {
  margin-top: calc(0.4rem * 1.618 * 1.618 * 1.618);
  line-height: 1;
  font-family: main-bold;
  font-size: 17.33px;
  color: rgba(var(--clr-main), 1);
  text-transform: capitalize;
}

h4 {
  line-height: 1;
  font-family: mainfont;
  color: rgba(var(--clr-main), 1);
}

p {
  margin-top: 0.4rem;
  line-height: 1;
  font-family: mainfont;
  font-size: 12.67px;
  color: rgba(var(--clr-main), 0.5);
}
/* move to reset css*/
img {
  width: 100%;
}

.icon {
  width: clamp(calc(24px / 1.618), 4.23vw, 24px);
  height: clamp(calc(24px / 1.618), 4.23vw, 24px);
}

/* Body Settings */
.app {
  width: 100%;
}
body {
    width: 100%;
    background-color: rgba(var(--clr-dark));
    font-size: 1.6rem;
    font-family: mainfont;
    /*padding: 10px 20px;*/
}