  
  /* root variables for specific component */

 .au-div-main-audio-uploader {
   padding: 7.33px;
   display: flex;
   flex-direction: column;
   top: 30vh;
   min-height: 60vh;
   width: 100%;
   border-radius: 5.83px;
   background-color: rgba(var(--clr-dark));
   overflow: hidden;
   align-items: center;
   margin-block: 10px;
   position: absolute;
   z-index: 10;
   transition: opacity .6s ease-in;
 }

 .au-div-heading-and-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 24px 0 24px;
 }

 .au-div-heading-and-btn h3 {
  position: relative;
  top: 10px;
  margin-top: 20px;
 }

 .au-div-upload-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 90px 24px;
    gap: 12px;
    align-items: center;
 }

 .div-inputwrap {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  max-width: 295px;
}

.div-inputwrap select,
.div-inputwrap select option {
  height: 26px;
  background-color: rgba(var(--clr-main), .2);
  color: rgba(var(--clr-main), .8);
  border: none;
}

.div-inputwrap select option  {
  background-color: rgba(var(--clr-bg), .8);
  color: rgba(var(--clr-main), 1);
}
.div-inputwrap select:focus {
  outline: none;
}

.div-inputwrap p {
  font-size: 14px;
  width: 100%;
  color: rgba(var(--clr-main), .6);
}

.div-inputwrap input {
  height: 35px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(var(--clr-main), .5);
  width: 100%;
  background-color: rgba(var(--clr-main), .6);
  color: rgba(var(--clr-dark), 1);
  padding-inline: 6px;
  border-radius: 4px;
}

.div-inputwrap input[type="file"] {
  height: unset;
  border: none;
  outline: none;
  border: 1px solid rgba(var(--clr-main), .5);
  width: 100%;
  color: rgba(var(--clr-main), .8);
  padding-inline: unset;
}

.div-inputwrap input:focus {
  border: none;
  border-bottom: 1px solid rgba(var(--clr-main), .5);
}

.cancel {
  height: 28px;
  width: 28px;
  margin-bottom: 10px;
}

@keyframes slideUp {
 from {
   opacity: 0;
   transform: translateY(-100%);
 }
 to {
   opacity: 1;
   transform: translateY(100%);
 }
}