  
  /* Move css to component's css file in react */
  
  .audioplayer-div-main-song {
    /*margin-top: 50px;*/
    /*delete above code when moving to react*/
    display: flex;
    height: 70px;
    width: 100%;
    border-radius: 9px;
    background-color: #090909;
    border: 1px solid #9494941C;
    overflow: hidden;
    
    /* remove below later*/
    margin-block: 5px;
    
  }
  
  .ap-div-cover {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 70px;
    border-radius: 9px;
    overflow: hidden;
    transition: filter .3s ease-out;
  }
  .ap-div-cover:hover {
    filter: contrast(.6)
  }
  
  .ap-div-cover .ap-img-cover {
    position: relative;
    filter: brightness(.5);
    object-fit: cover;
  }
  
  .ap-div-cover .ap-img-playpauseicon {
    position: absolute;
    width: 40px;
    filter: brightness(1.5);
    transition: transform .3s ease-out;
  }
  .ap-div-cover .ap-img-playpauseicon:hover {
    transform: scale(1.1);
  }
  
  .ap-div-info {
    padding: 10px 6px;
    width: 40%;
  }

  .ap-div-info .name,
  .ap-div-info .title {
    max-height: 16px;
    overflow: hidden;
  }

  
.progress-bar {
  margin-top: 6px;
  width: 100%;
  height: 5px;
  padding: 1px;
  border-radius: 6px;
  background-color: var(--clr-txt-500);
  position: relative;
  cursor: pointer;
}

.progress {
  height: 100%;
  background-color: var(--clr-60);
}