:root {
    --clr-bg: 10, 10, 10;
}

.music-list-div-main {
    padding: clamp(20px, 5.55vw, 50px);
    background-color: rgba(var(--clr-bg), .3);
    border-radius: 6px;
    transition: opacity .6s ease-in;
}

.icon {
    height: 24px;
    width: 24px;
    opacity: .5;
}