.music-list-div-main {
    padding: clamp(20px, 5.55vw, 50px);
    background-color: var(--clr-40);
    border-radius: 6px;
}

.component-songs {
    
    h3 {
        margin-top: 0;
        margin-bottom: 16px;
    }
}