.music-list-div-main {
  padding-top: clamp(20px, 5.55vw, 50px);
  border-radius: 6px;
  padding-bottom: 70px;
}

.icon {
  height: 24px;
  width: 24px;
  opacity: 0.8;
}

.component-MusicListData {
  
  h3 {
    margin-block: 20px;
    opacity: 0;
    transition: opacity .8s;
  }
}
.component-MusicListData .audioplayers-wrap {
  display: flex;
  gap: 15px;
  padding: 10px;

  .note-p {
    opacity: 0;
    transition: opacity .8s 1.3s;
  }
}

.component-MusicListData .column {
    width: 100%;
    flex-direction: column;
  }

.component-MusicListData .row {
    width: fit-content;
    flex-direction: row;
    padding: 0 0 10px 10px;
  }

.upload-link {
  padding: 6px 10px;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin-block: 20px;
  margin-inline: 10px;
  border: 1px solid rgba(var(--clr-font), .3);
  gap: 3px;
  width: fit-content;
  font-size: 14.33px;
}
